/* Define custom fonts using @font-face */
@font-face {
  font-family: General sans;
  src: url("./General\ sans\ font/GeneralSans- 400 Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: General sans;
  font-weight: 500;
  src: url("./General\ sans\ font/GeneralSans-500 Medium.otf");
}

/* Global styling for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: General sans; /* Apply custom font */
}

/* Set full height and width for HTML and body */
html,
body {
  height: 100%;
  width: 100%;
}

/* Custom cursor styling */
[data-custom-cursor] {
  /* Position and appearance */
  position: absolute;
  height: 13px;
  width: 13px;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #fff;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
  pointer-events: none;
  z-index: 99;
  color: black;
  mix-blend-mode: difference;

  /* Center content within cursor */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Initially hide text content */
  & h5 {
    opacity: 0;
  }
}

/* Styling for navigation bar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: black;
  padding: 2rem 2.2rem;
  font-weight: 500;
  z-index: 9;

  /* Styling for links and headings */
  & a {
    text-decoration: none;
    font-size: 1.3vw;
    color: white;
  }
  & h4 {
    font-weight: 500;
  }
}

/* Styling for main section */
#main {
  width: 100%;
  height: 405vh;
  overflow: hidden;
  background-color: black;
}

/* Styling for hero section */
#hero {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  color: white;
  background-color: black;

  /* Styling for heading animation */
  & .heading-animation {
    width: 100%;
    overflow: hidden;

    /* Styling for hidden elements within animation */
    & .hidden {
      transform: translateY(100%);
    }
  }

  /* Styling for heading */
  & .heading {
    margin-top: 13vw;

    /* Styling for heading text */
    & h1 {
      font-size: 10.5vw;
      font-weight: 500;
      opacity: 0.6;
      line-height: 0.85;
      margin-left: 40px;
    }

    /* Styling for block text */
    & .blockText {
      width: fit-content;

      /* Styling for block text heading */
      & h1 {
        transform: translateY(190%);
        margin-left: 190px;
      }

      /* Styling for block text subheading */
      & h5 {
        text-align: right;
        font-size: 1.2vw;
        font-weight: 500;
        margin-top: 1rem;
      }
    }
  }

  /* Styling for bottom text */
  & .bottomText {
    margin-top: 6rem;

    /* Styling for bottom text heading */
    & h5 {
      font-size: 1.2vw;
      font-weight: 500;
      text-align: right;
      padding: 0.5rem 2.2rem;
    }

    /* Styling for hidden elements within bottom text */
    & .hidden {
      transform: translateY(170%);
    }
  }

  /* Styling for secondary bottom text section */
  & .bottomText2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.2rem;
    font-size: 1.5vw;
    font-weight: 500;

    /* Styling for button and circle icons */
    & .bt-h5 {
      display: flex;
      align-items: center;
      gap: 300px;

      & h5 {
        display: flex;
        align-items: center;
        font-size: 1.2vw;
        font-weight: 500;
      }
    }
    & .bottem-button {
      display: flex;
      gap: 5px;
      transform: translateY(140%);

      & .bt-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        background-color: #aaaaaa;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
}

/* Styling for second section */
.second {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: black;
  padding: 3vw;
  margin-top: 8vw;

  /* Styling for individual elements */
  & .elements {
    position: relative;
    max-width: 86vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3vw;
    padding-bottom: 3vw;
    border-top: 1px solid white;
    border-bottom: 1px solid white;

    /* Hover effect */
    &:hover img {
      opacity: 1;
      transition: all ease 0.2s;
    }

    /* Styling for image overlay */
    & img {
      opacity: 0;
      position: absolute;
      height: 150%;
      pointer-events: none;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 9;
    }

    /* Hover effect for text */
    &:hover h1 {
      transform: translateX(50px);
      opacity: 0.2;
    }
  }

  /* Styling for headings */
  & h1 {
    font-size: 7.5vw;
    opacity: 0.6;
    font-weight: 500;
    transition: all ease-in-out 0.5s;
  }

  /* Styling for subheadings */
  & h5 {
    font-size: 1.2vw;
    font-weight: 400;
    color: white;
    opacity: 1;
  }
}

/* Styling for about section */
.about {
  min-height: 100vh;
  width: 100%;
  position: relative;
  color: white;
  margin-top: 12vw;
  padding: 0 2rem;

  /* Styling for inner content */
  & .about-inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-right: 8.5rem;

    /* Styling for about image */
    & img {
      height: 230px;
    }

    /* Styling for about text */
    & .about-text {
      width: 38%;
      margin-left: 5.5vw;
      font-size: 1.3vw;
      font-weight: 400;
      line-height: 1.6;

      /* Styling for specific paragraphs */
      & p:nth-child(1) {
        opacity: 0.6;
        font-size: 1vw;
      }
      & p:nth-child(2) {
        margin-bottom: 1.5vw;
      }

      /* Styling for links */
      & a {
        color: white;
        text-decoration: none;
        border-radius: 30px;
        border: 1px solid white;
        padding: 0.4vw 1.5vw;
        font-size: 1.15vw;
        font-weight: 400;
        transition: all ease 0.5s;

        &:hover {
          color: black;
          background-color: #fff;
        }
      }
    }
  }

  /* Styling for additional mention in about section */
  & .about-mention {
    margin-top: 10vw;
    line-height: 1.8;

    /* Styling for paragraphs and links */
    & p {
      opacity: 0.7;
      font-size: 1vw;
    }
    & a {
      color: white;
      font-weight: 500;
      text-decoration: none;
    }
  }
}

/* Styling for footer */
footer {
  position: relative;
  min-height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 1vw;
  padding: 0 2rem 1.5rem;
  z-index: 2;

  /* Styling for footer sections */
  & .liveTime {
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    gap: 25px;
  }

  & .right {
    display: flex;
    font-size: 0.875rem;
    font-weight: 400;
    gap: 50px;
  }
}

@media screen and (max-width: 768px) {
  [data-custom-cursor] {
    display: none;
  }

  #main {
    height: 255vh;
  }

  nav {
    font-size: 20px;
    padding: 2rem;

    & a {
      font-size: 20px;
    }
  }

  #hero {
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    justify-content: space-around;

    & .heading {
      & .heading-animation {
        margin-left: 80px;

        & h1 {
          font-size: 50px;
          margin-left: 0;
        }

        & h5 {
          margin-left: 0;
          font-size: 15px;
        }
      }
    }

    & .bottomText {
      margin-top: 0;

      & h5 {
        font-size: 15px;
      }
    }

    & .bottomText2 {
      gap: 30px;

      .bt-h5 {
        display: flex;
        gap: 35px;

        & h5 {
          font-size: 15px;
        }
  
        & .bottem-button {
          display: none;
        }
      }

    }
  }

  .second {
    min-height: 30vh;
  }

  .about {
    & .about-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-right: 0;

      & p {
        font-size: 25px;
      }

      & img {
        height: 250px;
      }

      & .about-text {
        margin-top: 100px;
        width: 80%;
      }

    }
    & .about-mention {
      margin-bottom: 200px;
      margin-bottom: 100px;
      padding-left: 11vw;
      font-size: 12px;
      
      & p {
        font-size: 8px;
      }
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 200px;
    color: black;
    background-color: #fff;

    & .liveTime {
      font-size: 30px;
    }

    & h4 {
      font-size: 10px;
    }
  }
}
