@font-face {
  font-family: General sans;
  src: url("./General\ sans\ font/GeneralSans- 400 Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: General sans;
  font-weight: 500;
  src: url("./General\ sans\ font/GeneralSans-500 Medium.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: General sans;
}

/* Set full height and width for HTML and body */
html,
body {
  height: 100%;
  width: 100%;
}

[data-custom-cursor] {
  position: absolute;
  height: 12px;
  width: 12px;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #fff;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
  pointer-events: none;
  z-index: 99;
}

nav {
  position: fixed;
  top: 0;
  /* left: 0; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: black;
  padding: 2rem 2.2rem;
  font-weight: 500;
  z-index: 9;

  & a {
    text-decoration: none;
    font-size: 1.3vw;
    color: white;
  }

  & h4 {
    font-weight: 500;
  }
}

#main {
  width: 100%;
  overflow: hidden;
  background-color: black;
}

#hero {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  color: white;
  background-color: black;

  & .heading-animation {
    width: 100%;
    /* background-color: red; */
    overflow: hidden;

    & .hidden {
      transform: translateY(100%);
    }
  }

  & .heading {
    margin-top: 13vw;

    & h1 {
      font-size: 10.5vw;
      font-weight: 500;
      opacity: 0.6;
      line-height: 0.85;
      margin-left: 40px;
    }

    & .blockText {
      width: fit-content;

      & h1 {
        transform: translateY(125%);
        margin-left: 190px;
      }

      & h5 {
        text-align: right;
        font-size: 1.2vw;
        font-weight: 500;
        margin-top: 1rem;
      }
    }
  }

  & .bottomText {
    margin-top: 6rem;

    & h5 {
      font-size: 1.2vw;
      font-weight: 500;
      text-align: right;
      padding: 0.5rem 2.2rem;
    }

    & .hidden {
      transform: translateY(170%);
    }
  }

  & .bottomText2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.2rem;
    font-size: 1.5vw;
    font-weight: 500;
    /* overflow-x: hidden; */

    & .bt-h5 {
      display: flex;
      align-items: center;
      gap: 300px;

      & h5 {
        display: flex;
        align-items: center;
        font-size: 1.2vw;
        font-weight: 500;
      }
    }

    & .bottem-button {
      display: flex;
      gap: 5px;
      transform: translateY(140%);

      & .bt-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        background-color: #aaaaaa;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
}

.second {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: black;
  padding: 3vw;
  margin-top: 8vw;

  & .element {
    position: relative;
    max-width: 86vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3vw;
    padding-bottom: 3vw;
    border-top: 1px solid white;
    border-bottom: 1px solid white;

    &:hover img {
      display: block;
    }

    & img {
      display: none;
      position: absolute;
      height: 150%;
      z-index: 9;
    }
  }

  & h1 {
    font-size: 7.5vw;
    opacity: 0.6;
    font-weight: 500;
  }

  & h5 {
    font-size: 1.2vw;
    font-weight: 400;
    color: white;
    opacity: 1;
  }
}

#about {
  min-height: 100vh;
  width: 100%;
  position: relative;
  color: white;
  margin-top: 12vw;
  padding: 0 2rem;

  & .about-inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-right: 8.5rem;

    & img {
      height: 230px;
    }

    & .about-text {
      width: 38%;
      margin-left: 5.5vw;
      font-size: 1.3vw;
      font-weight: 400;
      line-height: 1.6;

      & p:nth-child(1) {
        opacity: 0.6;
        font-size: 1vw;
      }

      & p:nth-child(2) {
        margin-bottom: 1.5vw;
      }

      & a {
        color: white;
        text-decoration: none;
        border-radius: 30px;
        border: 1px solid white;
        padding: 0.4vw 1.5vw;
        font-size: 1.15vw;
        font-weight: 400;
      }
    }
  }

  & .about-mention {
    margin-top: 10vw;
    line-height: 1.8;

    & p {
      opacity: 0.7;
      font-size: 1vw;
    }

    & a {
      color: white;
      font-weight: 500;
      text-decoration: none;
    }
  }
}

footer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 1vw;
  padding: 0 1.5rem 1.5rem;
  z-index: 2;

  & .left {
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    gap: 25px;
  }

  & .right {
    display: flex;
    font-size: 0.875rem;
    font-weight: 500;
    gap: 50px;
  }
}
